<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <font size="2">期限</font><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <font size="2">カテゴリー</font><br>
    <%= f.collection_select :category_id,Category.all ,:categoryname,:categoryname %>
  </div>
  <div class="field">
    <font size="2">予定内容</font><br>
    <% = f.text_field :name, maxlength: 15 %>
  </div>
  <div class="field">
    <font size="2">チェック</font><br>
    <%= f.check_box :done %>
  </div>
  <div class="field">
    <font size="2">ユーザーID</font><br>
    <%= f.collection_select :user_id,User.all ,:username,:username %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
