<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザーID:</strong>
  <%= @user.userid %>
</p>

<p>
  <strong>名前:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @user.password %>
</p>

<font size="2"><%= link_to '更新', edit_user_path(@user) %> |
<font size="2"><%= link_to '戻る', users_path %>
